@font-face {
  font-family: "MuliExtraLight";
  src: url("../fonts/muli/Muli-ExtraLight.ttf");
}

@font-face {
  font-family: "MuliLight";
  src: url("../fonts/muli/Muli-Light.ttf");
}

* {
	margin: 0px; 
	padding: 0px;
	}

body {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    color: black;
    width: auto;
    margin: auto;
	padding: auto;
	position: relative; 
	margin-left: auto;
	margin-right: auto;
}

#home{
    background-image: url(../images/homepage_cover2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 650px;
    padding: 0px 0px 0px 150px;
}

.logo {
    float: left;
    margin: 100px 0px 0px 45px;
    padding: 0px 40px 0px 0px;
    position: relative;
    width:155px;
}


.pad {
    float: left;
    font-size: 14px;
    font-family: "MuliExtraLight";
    font-weight: 100;
    letter-spacing: 2px;
    position: relative;
    margin: 133px 0px 0px -15px;
}

.intro {
    font-family: "MuliExtraLight";
    font-size: 14px;
    line-height: 25px;
    width: 270px;
    float: left;
    position: relative;
    margin: 235px 0px 0px -277px;
}

#showabout {
    color: #f8a48d;
    text-decoration: underline;
    cursor: hand;
    cursor: pointer;
}

#about{
    float: right;
    position: relative;
    display: none;
    font-family: "MuliExtraLight";
    font-size: 13px;
    line-height: 25px;
    background-color: rgba(0,0,0,.6);
    color: white;
    padding: 20px 30px 20px 30px;
    margin: 265px 190px 0px 0px;
    width: 350px;
    
}

.words {
    display: none;
}

/* homepage picture */
#headerpic {
    position: absolute;
    float: right;
    max-width: 1000px;
    margin: 0px 0px 0px 345px;
}

/*links*/
#links {
    position: absolute;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 470px 0px 0px 0px;
    padding: 0px 0px 0px 40px;
}

li {
    display: inline;
    text-decoration-line: none;
    font-family: "Work Sans", sans-serif;
    font-weight: 100;
    font-size: 13px;
    padding: 5px;
}

a.mainlink:link {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px;
}

/* visited link */
a.mainlink:visited {
    color: white;
    text-decoration: none;
    background-color: black;
}

/* mouse over link */
a.mainlink:hover {
    color: white;
    text-decoration: none;
    background-color: #888888;
}

/* selected link */
a.mainlink:active {
    color: white;
    text-decoration: none;
    background-color: black;
}

#work {
    font-family: "Work Sans", sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    height: 700px;
    width: auto;
    margin: 30px 100px 50px 100px;
    padding: 10px 0px 30px 90px;
}

#work h3 {
    font-weight: 100;
    font-size: 24px;
    letter-spacing: 2px;
    color: black;
    border-style: solid;
    border-color: black;
    border-width: thin;
    margin: 0px 0px 20px 5px;
    width: 76px;
    padding: 7px;
}

#work li {
    float: left;
    display: block;
}

#work span {
    font-size: 12px;
    color: grey;
}

#work img {
    width: 200px;
    height: 200px;
    padding: 10px 0px 35px 5px;
}

#work a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
#work a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
#work a:hover {
    color: #f8a48d;
    text-decoration: none;
}

/* selected link */
#work a:active {
    color: black;
    text-decoration: none;
}

.col-3 {
    float: left;
    width: 27%;
    margin-right: 6.3%;
}