@font-face {
  font-family: "MuliExtraLight";
  src: url("../fonts/muli/Muli-ExtraLight.ttf");
}

@font-face {
  font-family: "MuliLight";
  src: url("../fonts/muli/Muli-Light.ttf");
}

* {
	margin: 0px; 
	padding: 0px;
	}

body {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    color: black;
    width: auto;
    margin: auto;
	padding: auto;
	position: relative; 
	margin-left: auto;
	margin-right: auto;
}

#home{
    background-image: url(../images/homepage_cover2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 650px;
    padding: 0px 0px 0px 150px;
}

.logo {
    float: left;
    margin: 100px 0px 0px 45px;
    padding: 0px 40px 0px 0px;
    position: relative;
    width:155px;
}


.pad {
    float: left;
    font-size: 14px;
    font-family: "MuliExtraLight";
    font-weight: 100;
    letter-spacing: 2px;
    position: relative;
    margin: 133px 0px 0px -15px;
    width: 150px;
}

.intro {
    font-family: "MuliExtraLight";
    font-size: 14px;
    line-height: 25px;
    width: 270px;
    float: left;
    position: relative;
    margin: 235px 0px 0px -330px;
}

#showabout {
    color: #f8a48d;
    text-decoration: underline;
    cursor: hand;
    cursor: pointer;
    font-size: 10px;
}

#about{
    float: right;
    position: relative;
    display: none;
    font-family: "MuliExtraLight";
    font-size: 13px;
    line-height: 25px;
    background-color: rgba(0,0,0,.6);
    color: white;
    padding: 20px 30px 20px 30px;
    margin: 200px 190px 0px 0px;
    width: 350px;
    
}

.words {
    display: none;
}

/* homepage picture */
#headerpic {
    position: absolute;
    float: right;
    max-width: 1000px;
    margin: 0px 0px 0px 345px;
}

/*links*/
#links {
    position: absolute;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 470px 0px 0px 0px;
    padding: 0px 0px 0px 40px;
}

li {
    display: inline;
    text-decoration-line: none;
    font-family: "Work Sans", sans-serif;
    font-weight: 100;
    font-size: 13px;
    padding: 5px;
}

a.mainlink:link {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px;
}

/* visited link */
a.mainlink:visited {
    color: white;
    text-decoration: none;
    background-color: black;
}

/* mouse over link */
a.mainlink:hover {
    color: white;
    text-decoration: none;
    background-color: #888888;
}

/* selected link */
a.mainlink:active {
    color: white;
    text-decoration: none;
    background-color: black;
}

/* WORK */
#work {
    font-family: "Work Sans", sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 18px;
    height: 700px;
    width: auto;
    margin: 30px 100px 50px 100px;
    padding: 10px 0px 30px 55px;
}

#work h3 {
    font-weight: 100;
    font-size: 24px;
    letter-spacing: 2px;
    color: black;
    border-style: solid;
    border-color: black;
    border-width: thin;
    margin: 0px 0px 15px 13px;
    width: 76px;
    padding: 7px;
}

#work li {
    float: left;
    display: block;
}

#work span {
    font-size: 10px;
    color: white;
}

#work a img {
    width: 200px;
    height: 200px;
    padding: 5px 0px 30px 5px;
    opacity: 1;
}

#work a:hover img {
    opacity: 0.5;
}

#work a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
#work a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
#work a:hover {
    color: #f8a48d;
    text-decoration: none;
}

/* selected link */
#work a:active {
    color: black;
    text-decoration: none;
}

.col-3 {
    float: left;
    width: 27%;
    margin-right: 6.3%;
}

/* RESUME */
#resume {
    height: 900px;
    width: auto;
    padding: 40px 165px 0px 165px;
    background-color: #f6f6f6;
}

#resume h2 {
    font-family: "Work Sans";
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
}

#resume p {
    font-family: "MuliExtraLight";
    font-size: 14px;
    line-height: 22px;
}

#resume h3{
    font-weight: 100;
    font-size: 24px;
    letter-spacing: 2px;
    color: black;
    border-style: solid;
    border-color: black;
    border-width: thin;
    margin-bottom: 25px;
    width: 105px;
    padding: 7px;
}


/* SKILLS & ASSOCIATION */

#skills-assoc {
    float: left;
    width: 300px;
}

/* EXPERIENCE & PROJECTS */
#experience-projects {
    float: left;
    width: 400px;
    margin-left: 45px;
}

.date {
    color: grey;
}

.position {
    font-family: "Muli";
    font-weight: 300;
}

/* CONTACT */
#contact {
    float: right;
    height: 130px;
    width: 100%;
    font-family: "Work Sans";
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 1px;
}

#contact .bar {
    background: #f7a38c;
    display: block;
    height: 1px;
}

#email {
    float: left;
    margin: 45px 10px 45px 165px;
}

#media {
    float: right;
    margin: 40px 165px 40px 100px;
}

#contact p {

    color: black;
}

#contact ul {
    position: relative;
    margin-left: -4px;
}

#contact li {
    display: inline;
    position: relative;
    margin-right: 40px;
    font-size: 15px;
}

#contact li a:link{
    text-decoration: none;
    color: black;
}

#contact li a:visited{
    text-decoration: none;
    color: black;
}

#contact li a:hover{
    text-decoration: none;
    color: #f8a48d;
}

