@font-face {
    font-family: "MuliExtraLight";
    src: url("../fonts/muli/Muli-ExtraLight.ttf");
}

@font-face {
    font-family: "MuliLight";
    src: url("../fonts/muli/Muli-Light.ttf");
}

@font-face {
    font-family: 'si';
    src: url('../fonts/socicon/socicon.eot');
    src: url('../fonts/socicon/socicon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socicon/socicon.woff') format('woff'),
         url('../fonts/socicon/socicon.ttf') format('truetype'),
         url('../fonts/socicon/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../fonts/socicon/socicon.svg) format(svg);
    }
}

* {
	margin: 0px; 
	padding: 0px;
	}

body {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    color: black;
    width: auto;
    margin: auto;
	padding: auto;
	position: relative; 
	margin-left: auto;
	margin-right: auto;
}

#home{
    background-image: url(../images/architecture-crop1.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 660px;
    padding: 50px;
}

/*DESKTOP*/
@media screen and (min-width: 1025px){
    #home {
        background-image: url(../images/architecture-crop1.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;    
    }
    
    #links {
        padding: 20px 0 0 360px;
    }
    
    #links li {
        padding-right: 28px;
    }
    
    .nav {
        margin: 20px 0 0 -15px;
    }
    
    #work {
        height: 683px;
        width: auto;
        margin: auto;
        padding: 20px 0 0 55px;
    }
}

/*TABLET*/
@media screen  and (min-width: 768px) and (max-width: 1024px){
    .nav {
        margin: 20px 0 0 -13px;
    }
    
    #links li {
        padding-right: 30px;
    }
    
    #work {
        height: auto;
        width: auto;
        margin: auto;
        padding: 20px 0 0 55px;
    }
}

/*MOBILE*/
@media screen and (min-width: 481px) and (max-width: 767px){
    .intro {
        max-width: 400px;
        margin: auto;
        padding: 30px 0px; 
        text-align: left;
    }
    
    .nav {
        transform: scale(0.86);
        margin: 20px 0 0 -32px;  

    }
    
    #links {
        display:;
    }
    
    #links li {
        padding-right: 30px;
    }
    
    #work {
        height: auto;
        width: auto;
        margin: auto;
        padding: 20px 0 0 55px;
    }
}

/*MOBILE SMALLER*/
@media screen and (max-width: 480px) and (orientation: portrait){
    #home-mobile {
        transform: scale(0.8);
        margin: -40px -50px;
    }
    
    .nav {
        transform: scale(0.9);
        margin: 20px 0 0 -23px;  
    }
    
    #links li {
        padding-right: 17px;
    }
    
    #work {
        height: auto;
        width: auto;
        margin: auto;
        padding: 20px 0 0 55px;
    }

}

/*TITLE*/
.title {
    font-family: "Work Sans";
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 40px;
    text-align: center;
    margin: auto;
    padding-top: 60px;
}

.pad {
    font-size: 14px;
    font-family: "MuliExtraLight";
    font-weight: 100;
    letter-spacing: 2px;
    width: 340px;
    padding-top: 10px;
    margin: auto;
    text-align: center;
}

#typingwords {
    color: lightcoral;
}

/*blinking cursor*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink .9s infinite;
    -moz-animation: blink .9s infinite;
    animation: blink .9s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.intro {
    font-family: "MuliExtraLight";
    font-size: 14px;
    line-height: 25px;
    max-width: 400px;
    margin: auto;
    padding: 30px 0px; 
    text-align: left;
}

#showabout {
    color: #f8a48d;
    text-decoration: underline;
    cursor: hand;
    cursor: pointer;
    font-size: 10px;
}

/*about*/
#LearnMoreBtn {
    font-family: "MuliExtraLight";
    background: none;
    border-style: none;
    color: lightcoral;
    cursor: pointer; 
}

#overlay {
    display:none;    
    position:fixed;  
    left:0px;        
    top:0px;         
    width:100%;      
    height:100%;     
    background:#000; 
    opacity:0.5;     
    z-index:99999;   
}

#popup {
    display:none;
    position:fixed;
    left:50%;        
    top:50%;         
    width:450px;     
    height:220px;
    margin-top:-120px;
    margin-left:-245px;
    padding: 20px;
    background:#FFFFFF;
    /*border:2px solid #000;*/
    z-index:100000; 
}

#CloseBtn {
    font-family: "MuliExtraLight";
    font-size: 12px;
    background: none;
    border-style: none;
    color: lightcoral;
    cursor: pointer; 
    margin-left: 200px;
}
  
/*NAV LINKS*/
.nav {
    height: 100px;
    width: 465px;
    text-align: center;
}

#links {
    text-align: center;
    display: block;
    position: relative;
    font-size: 16px;
    letter-spacing: 2px;
    max-width: 100%;
}

#links li {
    float: left;
    position: relative;
    display: flex;
    text-decoration-line: none;
    font-family: "Work Sans", sans-serif;
    font-weight: 100;
    font-size: 13px;
}

a.mainlink:link {
    color: black;
    text-decoration: none;
    border-style: solid;
    border-width: thin;
    border-color: black;
    padding: 10px;
}

/* visited link */
a.mainlink:visited {
    color: black;
    text-decoration: none;
    background-color: black;
}

/* mouse over link */
a.mainlink:hover {
    color: black;
    text-decoration: none;
    background-color: white;
    border-style: none;
}

/* selected link */
a.mainlink:active {
    color: white;
    text-decoration: none;
    background-color: black;
}

/* WORK */
#work {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    background-color: #E8E3E0;
    background-image: url(../images/subtle_dots.png);
    background-repeat: repeat;
}


#work figure p {
	margin: 20px 0px 0px 0px;
}

#work figure p {
	letter-spacing: 1px;
	font-size: 15px;
    font-weight: 300;
    color: darkslategrey;
}

#work span {
    font-size: 10px;
    color: darkslategrey;
}

#work a img {
    width: 200px;
    height: 200px;
    padding: 5px 0px 30px 5px;
    opacity: 1;
}

#work a:hover img {
    opacity: 0.5;
}

#work a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
#work a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
#work a:hover {
    text-decoration: none;
}

/* selected link */
#work a:active {
    color: black;
    text-decoration: none;
}

/* CONTACT */

.bar {
    background: lightcoral;
    display: block;
    height: 2px;
}

#contact {
    font-family: 'MuliExtraLight';
    float: right;
    height: 120px;
    width: 100%;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 30px;
    background-color: #e8f2f4;
    color: lightslategrey;
}

#contact p {
    margin-top: -6px;
}

.soc {
    overflow:hidden;
    margin-top:5px; 
    padding:0;
    list-style:none;
    text-align: center;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
    margin-right: 10px;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 27px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-right: 0px;
    color: lightslategrey;
    background-color: transparent;
}

.soc a:hover {
    z-index: 2;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.soc-icon-last{
    margin:0 !important;
}

.soc-email2:before {
    content:'.';
}
.soc-linkedin:before {
    content:'j';
}
.soc-behance:before {
    content:'H';
}
.soc-tumblr:before {
    content:'z';
}
.soc-pinterest:before {
    content:'d';
}
.soc-instagram:before {
    content:'x';
}

.copyright {
    display: block;
    float: left;
    font-family: "Muli";
    font-size: 10px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: lightslategrey;
    margin: -45px 0 0 0;
    text-align: center;
    width: 100%;
}