@font-face {
  font-family: "MuliExtraLight";
  src: url("../fonts/muli/Muli-ExtraLight.ttf");
}

@font-face {
  font-family: "MuliLight";
  src: url("../fonts/muli/Muli-Light.ttf");
}

@font-face {
    font-family: 'si';
    src: url('../fonts/socicon/socicon.eot');
    src: url('../fonts/socicon/socicon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socicon/socicon.woff') format('woff'),
         url('../fonts/socicon/socicon.ttf') format('truetype'),
         url('../fonts/socicon/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../fonts/socicon/socicon.svg) format(svg);
    }
}


* {
	margin: 0px; 
	padding: 0px;
    box-sizing: inherit;
	}

body {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    color: black;
    width: auto;
    margin: auto;
	padding: auto;
	position: relative; 
	margin-left: auto;
	margin-right: auto;
}

/*navigation links*/
nav {
    position: fixed;
    background-color: #e8f2f4;
    width: 100%;
    height: 60px;
    z-index: 2;
    box-shadow: 0px 1px 2px #e8f2f4;
}

nav figcaption {
    font-family: "Work Sans";
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: fixed;
    margin: 20px 70px;
}

.bar {
    background: lightcoral;
    display: block;
    height: 2px;
    width: 100%;
}

.menu ul {
    margin-right: 50px;
    padding: 13px;
    position: relative;
    float: right;
}

.menuli {
    display: inline;
    text-decoration-line: none;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
}

.namelink {
    margin-right: 520px;
    margin-top: -15px;
}

a.mainlink:link {
    color: black;
    text-decoration: none;
    background-color: none;
    padding: 10px;
}

/* visited link */
a.mainlink:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a.mainlink:hover {
    color: lightcoral;
    text-decoration: none;
    background-color: none;
}

/* selected link */
a.mainlink:active {
    color: lightcoral;
    text-decoration: none;
}

/*drop down menu*/
.menu ul ul {
    display: none;
    position: absolute;
    top: 80%;
    left: 0;
    background: #e8f2f4;
    padding: 0;
}

.menu ul ul li {
    float: none;
    width: 200px;
    list-style-type: none;
    padding: 10px 0px;
}

.menu ul ul a {
    line-height: 20px;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}

.menu ul li:hover > ul {
    display: block;
}

/* project header */
.header {
    max-height: 470px;
    position: relative;
    overflow: hidden;
}

.header img{
    position: relative;
    margin-top: 60px;
    width: 100%;
    opacity: 0.7;
    z-index: 0;
}

.bar2 {
    position: relative;
    background: lightcoral;
    display: block;
    height: 3px;
    max-width: 620px;
    margin: 0 0 0 102px;
}    
    
/*Process*/
.process {
    float: left;
    position: relative;
    font-family: "MuliExtraLight";
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    margin: 0;
}

.process .name {
    display: block;
    width: 620px;
    margin-top: 10px;
    font-family: "Work Sans";
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 1px;
    color: lightcoral;
    line-height: 28px;
}

.name span  {
    font-family: "MuliExtraLight";
    font-size: 15px;
    font-style: italic;
    z-index: 1;
    line-height: 4px;
}

.content {
    position: relative;
    float: left;
}

.content img {
    position: relative;
}

.imgbox img {
    transform: scale(.70);
    margin-right: -20px;
    }

.title {
    position: relative;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 30px;
    font-size: 18px;
    margin: 0px 10px 20px 0px;
    color: lightcoral;
}

.subtitle {
    position: relative;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    margin-right: 10px;
    font-size: 16px;
    color: lightcoral;
}

.mobile-col { width:100%; margin-bottom: 30px;}

.floatleft{
    float: left;
}

.floatright {
    float: right;  
}

.imgmarginl {
    margin-left: -20px;
}

.imgpadl {
    padding-left: 20px;
}

.imgpadr{
    padding-right: 20px;  
}

.pad-bottom {
    padding-bottom: 10px;
}

.pad-top {
    padding-top: 20px;
}

.breakpoint {
    position: relative;
    background: lightcoral;
    display: block;
    height: 1px;
    margin: 10px 0 30px 0;
}

.margintop {
    margin-top: 280px;
}

.dcfmargin {
   margin-top: -40px; 
}

h3 {
    color: lightcoral;
}

h3 a {
    text-decoration: none;
    color: lightcoral;;
}

iframe {
        margin: -100px -90px 0px 0px;
        transform: scale(0.60);
}

.sectionspace {
    margin-bottom: 100px;
}

/*MOBILE SCREEN
@media screen and (max-width: 468px) {
    .menu ul {
        padding: 25px 0px 0px 30px;
    }
    
    .menuli {
        font-size: 10px;
        letter-spacing: 2px;
        padding: 5px 0px;
    }
}*/

/*TABLET*/
@media screen and (max-width: 760px) {
    .menu figcaption .titleone {
       display: none;
    }
    
    .menu figcaption .titletwo {
        margin: 0px 30px 0 -60px;
    }
    
    .menu ul {
        margin-left: 80px;    
        margin-right: 10px;
    }
    
    .menuli {
        margin: -13px;
    }
    
    .menu a {
        font-size: 13px;
    }
    
    .contact-small {
        transform: scale(.8);
        margin: 0 -40px;
    }
    
    .copyright {
        transform: scale(.8)
    }
}

@media screen and (max-width: 999px) {
    .menu figcaption .titleone {
       display: none;
    }
    
    .menu figcaption .titletwo {
        margin: 0px 30px 0 -60px;
    }
    
    .menu li {
        font-family: "Work Sans", sans-serif;
        font-weight: 300;
        font-size: 13px;
        letter-spacing: 2px;
        padding: 5px 10px;
    }
    
    .imgpadl {
        padding-left: 0px;
    }
    
    .bar2 {
        position: relative;
        background: lightcoral;
        display: block;
        height: 4px;
        max-width: 300px;
        margin: -4px 0 0 60px;
    }   
    
    .process {
        max-width: 65%;
        padding: 30px 60px 0 60px;
    }
    
    .process .name{
        width: 95%;
        font-size: 25px;   
    }
    
    .name span {
        font-size: 13px;
        line-height: 1px;
    }
    
    .content {
        max-width: 100%;
    }
    
    .floatleftsmall {
        float: left;
    }
}

/*DESKTOP SCREEN*/
@media screen and (min-width: 1000px) {
    .menu figcaption .titletwo {
        display: none;
    }
    
    .menu li {
        font-family: "Work Sans", sans-serif;
        font-weight: 300;
        font-size: 13px;
        letter-spacing: 2px;
        padding: 5px 10px;
    }

    .process {
        max-width: auto;
        padding: 30px 100px 0px 100px;
    }
    
    .content {
        max-width: 100%;
        }

    .imgbox img {
        transform: scale(.95);
        margin-right: -20px;
        }


    .margintop {
        margin-top: 610px;
    }

    iframe {
        transform: scale(0.65);
        margin-top: -450px;
        }

    .bar2 {
        position: relative;
        background: lightcoral;
        display: block;
        height: 4px;
        max-width: 620px;
        margin: 0 0 0 102px;
    }  
    
    .urban-marginleft {
        margin-left: -35px
    }

    .whales-center {
        margin-left: 100px;
    }
    
    .breakpoint {
        max-width: 1200px;
    }

    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-2-5 {width: 18%;}
    .col-2-6 {width: 23%;}
    .col-3 {width: 25%;}
    .col-4 {width: 31.3%;}
    .col-4-5 {width: 35%}
    .col-5 {width: 41.66%;}
    .col-5-5 {width: 44%}
    .col-6-1 {width: 48%}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-7-5 {width: 63%}
    .col-8 {width: 71.66%;}
    .col-8-5 {width: 75%}
    .col-9 {width: 81%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


/*CONTACT*/
.c-bar {
    position: relative;
    display: block;
    width: 100%;
    background: lightcoral;
    height: 2px;
    margin: -30px 0 30px 0;
}

#contact {
    font-family: 'MuliExtraLight';
    float: right;
    height: 120px;
    width: 100%;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 30px;
    background-color: #e8f2f4;
    color: lightslategrey;
}

#contact p {
    margin-top: -6px;
}

.soc {
    overflow:hidden;
    margin-top:5px; 
    padding:0;
    list-style:none;
    text-align: center;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
    margin-right: 10px;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 27px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-right: 0px;
    color: lightslategrey;
    background-color: transparent;
}

.soc a:hover {
    z-index: 2;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.soc-icon-last{
    margin:0 !important;
}

.soc-email2:before {
    content:'.';
}
.soc-linkedin:before {
    content:'j';
}
.soc-behance:before {
    content:'H';
}
.soc-tumblr:before {
    content:'z';
}
.soc-pinterest:before {
    content:'d';
}
.soc-instagram:before {
    content:'x';
}

.copyright {
    display: block;
    float: left;
    font-family: "Muli";
    font-size: 10px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: lightslategrey;
    margin: -45px 0 0 0;
    text-align: center;
    width: 100%;
}


